body
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../Images/Mark.jpg');
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
}
.title
{
    font-family: Vivaldi;
}
    	  
h1.title
{
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #000000;
}

h2.title
{
    font-size: 14pt;
    font-weight: normal;
    text-decoration: underline;
    padding-bottom: 0px;
    margin-bottom: 25px;
    
}

h3.title
{
    margin: 0;
    font-weight: normal;
    font-size: 10pt;
    color: #000000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pictureframe {border: solid 1px black; 
			background: white;
			width: 250px;
			padding: 20px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 10px;
			margin-bottom: 20px;
			text-align: center;
			text-align: center;
			font-size: 15pt;
			color: solid black}
.deletedhighlight
{
    color: #FFFF00;
}
.menu
{
    padding: 5px;
    margin: auto;
    border: solid 1px #CCC;
    font-size: large;
    font-weight: bold;
    background-color: #5B8C5F;
    font-family: 'Bradley Hand ITC';
    color: #000000;
}
.loginstatus
{
    font-family: "Bradley Hand ITC";
    float: right;
    color: #000000;
}

.cssgridview
{width:100%;
 
 margin: 5px 0 10px 0;
 border: solid 1px #FFFFFF;
 border-collapse:collapse;
 text-align:center;
 font-family:'Bradley Hand ITC';
 color:White;
}

.cssgridview td { padding:10px;border:solid 1pc #FFFFFF; color:White;}

.cssgridview td a:visited{color:#666633;text-decoration:none;}



.cssgridview th
{
    padding: 10px;
    color: white;
    background-color: #333300;
}

.cssgridview th a{color:white;text-decoration:underline;}

.cssgridview th a:hover{color:#5B8C5F;text-decoration:none;}

a:link a:visited
{
    color: #666633;
}
a:hover
{
    color: #5B8C5F;
}

#wrap
{
    width: 940px;
    margin: auto;
}

#main {background:#DC143C; float:right; width:600px;height:525px; }

#sidebar { background: #DC143C; float:left; width:300px; padding:10px; }
#status
{
    float: right;
}
